<main class="fonctionnalite">
        <h1 class="section_title">Gérer les utilisateurs</h1>
</main>
<div class="jqTabs">
	<ul style="border: solid;">
		<li><a href="#liste_des_utilisateurs">Liste des utilisateurs</a></li>
		<li><a href="#enregistrement_d_un_utilisateur">Enregistrement d'un utilisateur</a></li>
		<li><a href="#suppression_d_un_utilisateur">Suppression d'un utilisateur</a></li>
		<li><a href="#gestion_des_cartes">Gestion des cartes</a></li>
		<li><a href="#gestion_des_abonnements">Gestion des abonnements</a></li>
	</ul>
	<div id="liste_des_utilisateurs">
		<table class="asDatatable">
			<thead>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Identifiant</th>
				<th>Adresse mail</th>
				<th>N° de téléphone</th>
				<th>Crédit client en temps</th>
				<th>Abonnement souscrit</th>
				<th>N° de carte</th>
			</thead>
			<tbody>
				{% for client in allClients %}
					<tr>
						<td>{{ client.nom_de_famille }}</td>
						<td>{{ client.prenom }}</td>
						<td>{{ client.identifiant }}</td>
						<td>{{ client.adresse_email }}</td>
						<td>{{ client.telephone }}</td>
						<td>{{ client.credit_client_en_temps }}</td>

						{% if client.abonnement != Null %}
							<td>
								{{ client.abonnement.libelle }}
								&nbsp;
								<button class="configurer_abonnement ui-button ui-corner-all ui-widget" type="button">Modifier abonnement</button>
							</td>
						{% else %}
							<td>
								Aucun
								&nbsp;
								<button class="configurer_abonnement ui-button ui-corner-all ui-widget" type="button">Ajouter abonnement</button>
							</td>
						{% endif %}

						{% if client.carte != Null %}
							<td>
								{{ client.carte.numero_de_carte }}
								&nbsp;
								<button class="configurer_carte ui-button ui-corner-all ui-widget" type="button">Modifier carte</button>
							</td>
						{% else %}
							<td>
								Aucune
								&nbsp;
								<button class="configurer_carte ui-button ui-corner-all ui-widget" type="button">Ajouter carte</button>
							</td>
						{% endif %}

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="enregistrement_d_un_utilisateur">
		truc 2
	</div>
	<div id="suppression_d_un_utilisateur">
		truc 3
	</div>
	<div id="gestion_des_cartes">
		truc 4
	</div>
	<div id="gestion_des_abonnements">
		truc 5
	</div>
</div>