<main class="fonctionnalite">
        <h1 class="section_title">Gérer les utilisateurs</h1>
</main>
<div class="jqTabs">
	<ul style="border: solid;">
		<li><a href="#liste_des_utilisateurs">Liste des utilisateurs</a></li>
		<li><a href="#enregistrement_d_un_utilisateur">Enregistrement d'un utilisateur</a></li>
		<li><a href="#suppression_d_un_utilisateur">Suppression d'un utilisateur</a></li>
	</ul>
	<div id="liste_des_utilisateurs">
		<table class="asDatatable">
			<thead>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Identifiant</th>
				<th>Adresse mail</th>
				<th>N° de téléphone</th>
				<th>Crédit client en temps</th>
				<th>Abonnement souscrit</th>
				<th>N° de carte</th>
			</thead>
			<tbody>
				{% for client in allClients %}
					<tr>
						<td>{{ client.nom_de_famille }}</td>
						<td>{{ client.prenom }}</td>
						<td>{{ client.identifiant }}</td>
						<td>{{ client.adresse_email }}</td>
						<td>{{ client.telephone }}</td>
						<td>{{ client.credit_client_en_temps }}</td>

						{% if client.abonnement != Null %}
							<td>{{ client.abonnement.libelle }}</td>
						{% else %}
							<td>Aucun</td>
						{% endif %}

						{% if client.carte != Null %}
							<td>{{ client.carte.numero_de_carte }}</td>
						{% else %}
							<td>Aucune</td>
						{% endif %}
						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="enregistrement_d_un_utilisateur">
		truc 2
	</div>
	<div id="suppression_d_un_utilisateur">
		truc 3
	</div>
</div>