<main class="fonctionnalite">
        <h1 class="section_title">Gérer les utilisateurs</h1>
</main>
<div class="jqTabs">
	<ul style="border: solid;">
		<li><a href="#liste_des_utilisateurs">Liste des utilisateurs</a></li>
		<li><a href="#enregistrement_d_un_utilisateur">Enregistrement d'un utilisateur</a></li>
		<li><a href="#suppression_d_un_utilisateur">Suppression d'un utilisateur</a></li>
	</ul>
	<div id="liste_des_utilisateurs">
		<table class="asDatatable">
			<thead>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Adresse mail</th>
				<th>N° de téléphone</th>
				<th>Personne morale représentée</th>
				<th>N° de carte</th>
			</thead>
			<body>
			</body>
		</table>
	</div>
	<div id="enregistrement_d_un_utilisateur">
		truc 2
	</div>
	<div id="suppression_d_un_utilisateur">
		truc 3
	</div>
</div>