<main class="fonctionnalite">
        <h1 class="section_title">Gestion des stocks</h1>
</main>
<div id="jqTabs" style="margin-top: 60px;">
	<ul style="border: solid;">
		<li><a href="#tableau_de_gestion_des_stocks">Tableau de gestion des stocks</a></li>
		<li><a href="#enregistrer_un_article_dans_les_stocks">Enregistrer un article dans les stocks</a></li>
	</ul>
	<div id="tableau_de_gestion_des_stocks">
		<p>Tableau de gestion des stocks...</p>
	</div>
	<div id="enregistrer_un_article_dans_les_stocks">
		<p>Enregistrer un article dans les stocks...</p>
	</div>
</div>
