<main class="fonctionnalite">
        <h1 class="section_title">Gestion des paniers</h1>
</main>
<div id="jqTabs" style="margin-top: 60px;">
	<ul style="border: solid;">
		<li><a href="#gestion_des_paniers">Gestion des paniers</a></li>
		<li><a href="#enregistrement_d_un_pret">Enregistrer un prêt</a></li>
		<li><a href="#enregistrement_d_un_retour">Enregistrer un retour</a></li>
	</ul>
	<div id="gestion_des_paniers">
		<table id="asDatatable">
			<thead>
				<th>N° du panier</th>
				<th>Client</th>
				<th>Liste des articles</th>
				<th>Date et heure d'emprunt</th>
				<th>Date de retour</th>
				<th>Statut</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
                                       <td>6</td>
				</tr>
			</body>
		</table>
	</div>
	<div id="enregistrement_d_un_pret">
		<form id="formulaire_enregistrement_paniers">
			<fieldset>
				<legend>Enregistrement d'un prêt</legend>
				<div id="product_error_div" class="ui-widget hidden_div" style="margin-bottom: 15px;">
                                        <div class="ui-state-error" style="padding: 0.7em; border-radius: 5px;">
                                                <p>
                                                        <span class="ui-icon ui-icon-alert icone-d-erreur"></span>
                                                        Error occured, because of the New Infinite Empire (NIE)
                                                </p>
                                        </div>
                                </div>
				<div class="input-container">
					<i class="fa fa-user fa-2x icon"></i>
					<select name="client_pret" placeholder="Nom du client*" class="tooltip input-field required-field" id="client_pret" title="Veuillez sélectionner le client concerné" required>
						<option value="0">Moi (prequel)</option>
                                                <option value="1">Moi</option>
                                                <option value="2">Moi 2 : la vengance de Guillaume</option>
                                                <option value="3">Moi 3 : le siècle de l'espoir</option>
                                                <option value="4">Moi 4 : le bout de mon nez</option>
                                                <option value="5">Moi 5 : un cinquiéme opus ? Pour cette saga pourrie ?</option>
					</select>
				</div>
				<div class="div_d_element_au_pied">
					<a id="client_pret_carte" class="bouton_au_pied tooltip" title="Sélectionnez le client grâce à sa carte">Carte du client ?</a>
                                </div>
				<div class="input-container">
					<i class="fa fa-calendar fa-2x icon"></i>
					<input type="text" placeholder="Date de retour du prêt*" name="date_de_retour_du_pret" class="tooltip input-field required-field" id="date_de_retour_du_pret" title="Veuillez renseigner la date de retour" required>
				</div>
				<div class="input-container">
					<i class="fa fa-box fa-5x icon"></i>
					<textarea placeholder="Liste des articles*" class="tooltip input-field required-field" id="liste_des_articles_a_preter" name="liste_des_articles_a_preter" title="Veuillez compléter la liste des articles" required></textarea>
				</div>
				<div class="input-container">
					<input type="submit" value="Valider">
					<input type="reset" value="Réinitialiser" style="margin-left: 13px;">
				</div>
			</fieldset>
		</form>
	</div>
	<div id="enregistrement_d_un_retour">
		<form action="" method="post">
			<fieldset>
				<legend>Enregistrement d'un retour</legend>
				<div class="input-container">
					<i class="fa fa-user fa-2x icon"></i>
                                        <select name="client_retour" placeholder="Nom du client*" class="tooltip input-field" id="client_retour" title="Veuillez sélectionner le client concerné" required>
						<option value="0">Moi (prequel)</option>
						<option value="1">Moi</option>
						<option value="2">Moi 2 : la vengance de Guillaume</option>
						<option value="3">Moi 3 : le siècle de l'espoir</option>
						<option value="4">Moi 4 : le bout de mon nez</option>
						<option value="5">Moi 5 : un cinquiéme opus ? Pour cette saga pourrie ?</option>
					</select>
                                </div>
				<div class="div_d_element_au_pied">
                                        <a id="client_retour_carte" class="bouton_au_pied tooltip" title="Sélectionnez le client grâce à sa carte">Carte du client ?</a>
                                </div>
				<div class="input-container">
					<i class="fa fa-box fa-5x icon"></i>
					<textarea placeholder="Liste des articles à retourner*" class="tooltip input-field required-field" id="liste_des_articles_a_retourner" name="liste_des_articles_a_retourner" title="Veuillez compléter la liste des articles à retourner" required></textarea>
				</div>
				<div class="input-container">
					<input type="submit" value="Valider">
					<input type="reset" value="Réinitialiser" style="margin-left: 13px;">
                                </div>
			</fieldset>
		</form>
	</div>
</div>
