<main class="fonctionnalite">
        <h1 class="section_title">Gestion des paniers</h1>
</main>
<div id="jqTabs" style="margin-top: 60px;">
		<ul style="border: solid;">
			<li><a href="#gestion_des_paniers">Gestion des paniers</a></li>
			<li><a href="#enregistrement_d_un_pret">Enregistrer un prêt</a></li>
			<li><a href="#enregistrement_d_un_retour">Enregistrer un retour</a></li>
		</ul>
		<div id="gestion_des_paniers">
			<p>Gestion des paniers...</p>
		</div>
		<div id="enregistrement_d_un_pret">
			<form action="" method="post">
				<fieldset>
					<legend>Enregistrement d'un prêt</legend>
					<div class="input-container">
						<i class="fa fa-user fa-2x icon"></i>
						<select name="client_pret" placeholder="Nom du client*" class="tooltip" id="client" title="Veuillez sélectionner le client concerné" required></select>
					</div>
					<div class="input-container">
						<i class="fa fa-calendar fa-2x icon"></i>
						<input type="text" placeholder="Date de retour*" name="date_de_retour" class="tooltip input-field required-field" id="date_de_retour" title="Veuillez renseigner la date de retour" required>
					</div>
					<div class="input-container">
						<i class="fa fa-box fa-5x icon"></i>
						<textarea placeholder="Liste des articles*" class="tooltip input-field required-field" id="liste_des_articles_a_preter" name="liste_des_articles_a_preter" title="Veuillez compléter la liste des articles" required></textarea>
					</div>
					<div class="input-container">
						<input type="submit" value="Valider">
					</div>
				</fieldset>
			</form>
		</div>
		<div id="enregistrement_d_un_retour">
			<form action="" method="post">
				<fieldset>
					<legend>Enregistrement d'un retour</legend>
					<div class="input-container">
                                        	<i class="fa fa-user fa-2x icon"></i>
                                        	<select name="client_retour" placeholder="Nom du client*" class="tooltip" id="client" title="Veuillez sélectionner le client concerné" required></select>
                                	</div>
					<div class="input-container">
						<i class="fa fa-box fa-5x icon"></i>
						<textarea placeholder="Liste des articles à retourner*" class="tooltip input-field required-field" id="liste_des_articles_a_retourner" name="liste_des_articles_a_retourner" title="Veuillez compléter la liste des articles à retourner" required></textarea>
					</div>
					<div class="input-container">
                                        	<input type="submit" value="Valider">
                                	</div>
				</fieldset>
			</form>
		</div>
	</div>
