<main class="fonctionnalite">
        <h1 class="section_title">Gestion des stocks</h1>
</main>
<div id="jqTabs" style="margin-top: 60px;">
	<ul style="border: solid;">
		<li><a href="#tableau_de_gestion_des_stocks">Tableau de gestion des stocks</a></li>
		<li><a href="#enregistrer_un_article_dans_les_stocks">Enregistrer un article dans les stocks</a></li>
	</ul>
	<div id="tableau_de_gestion_des_stocks">
		<table id="asDatatable">
			<thead>
				<th>Nom de l'article</th>
				<th>Type d'objets</th>
				<th>Fabriquant</th>
				<th>Fournisseur</th>
				<th>Date d'achat</th>
				<th>Etat</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
                                      <td>6</td>
				</tr>
			</body>
		</table>
	</div>
	<div id="enregistrer_un_article_dans_les_stocks">
		<form>
			<fieldset>
				<legend>Enregistrement dans le stock</legend>
				<div class="input-container">
					<i class="fa fa-barcode fa-2x icon"></i>
					<input name="codebarre" placeholder="Code barre*" class="tooltip input-field required-field" id="codebarre" title="Veuillez renseignner le code barre" required>
				</div>
				<div class="input-container">
					<i class="fa fa-calendar fa-2x icon"></i>
					<input type="text" placeholder="Date d'achat*" name="date_d_achat" class="tooltip input-field required-field" id="date_d_achat" title="Veuillez renseigner la date d'achat" required>
				</div>
				<div class="input-container">
					<i class="fa fa-calendar fa-2x icon"></i>
                                        <input type="text" placeholder="Date de livraison*" name="date_de_livraison" class="tooltip input-field required-field" id="date_de_livraison" title="Veuillez renseigner la date de livraison" required>
				</div>
				<div class="input-container">
					<i class="fa fa-box fa-2x icon"></i>
					<select name="type_d_objet" placeholder="Type d'objet*" class="tooltip input-field required-field" id="type_d_objet" title="Veuillez renseigner le type de l'objet" required>
						<option value="0">Moi (prequel)</option>
                                                <option value="1">Moi</option>
                                                <option value="2">Moi 2 : la vengance de Guillaume</option>
                                                <option value="3">Moi 3 : le siècle de l'espoir</option>
                                                <option value="4">Moi 4 : le bout de mon nez</option>
                                                <option value="5">Moi 5 : un cinquiéme opus ? Pour cette saga pourrie ?</option>
					</select>
				</div>
				<div class="div_d_element_au_pied">
					<input type="checkbox" id="nouveau_produit" name="nouveau_produit"><label for="nouveau_produit" class="element_au_pied" checked>Nouveau produit ?</label>
				</div>
				<div id="enregistrer_nouveau_produit" hidden>
                                        <fieldset>
                                                <legend>Enregistrement d'un nouveau produit</legend>
						<div class="input-container">
							<i class="fa fa-industry fa-2x icon"></i>
							<input type="text" placeholder="Fabricant*" name="fabricant" id="fabricant" class="tooltip input-field required-field" title="Renseigner le fabricant">
						</diV>
						<div class="input-container">
                                                        <i class="fa fa-at fa-2x icon"></i>
                                                        <input type="email" placeholder="Adresse email du fabricant" name="adresse_email_fabricant" class="tooltip input-field" title="Renseigner l'adresse email du fabricant">
                                                </diV>
						<div class="input-container">
                                                        <i class="fa fa-envelope fa-2x icon"></i>
                                                        <input type="text" placeholder="Adresse postale du fabricant" name="adresse_postale_fabricant" class="tooltip input-field" title="Renseigner l'adresse postale du fabricant">
                                                </diV>
						<div class="input-container">
                                                        <i class="fa fa-phone-alt fa-2x icon"></i>
                                                        <input type="phone" placeholder="Numéro de téléphone du fabricant" name="numero_telephone_fabricant" class="tooltip input-field" title="Renseigner le numéro de téléphone du fabricant">
                                                </diV>
						<div class="input-container">
                                                        <i class="fa fa-blog fa-2x icon"></i>
                                                        <input type="url" placeholder="Site web du fabricant" name="site_web_fabricant" class="tooltip input-field" title="Renseigner l'url du site web du fabricant">
                                                </diV>
						<hr>
						<div class="input-container">
							<i class="fa fa-industry fa-2x icon"></i>
							<input type="text" placeholder="Fournisseur*" name="fournisseur" id="fournisseur" class="tooltip input-field required-field" title="Renseigner le fournisseur"> 
						</div>
						<div class="input-container">
                                                        <i class="fa fa-at fa-2x icon"></i>
                                                        <input type="email" placeholder="Adresse email du fournisseur" name="adresse_email_fournisseur" class="tooltip input-field" title="Renseigner l'adresse email du fournisseur">
                                                </div>
						<div class="input-container">
                                                        <i class="fa fa-envelope fa-2x icon"></i>
                                                        <input type="text" placeholder="Adresse postale du fournisseur" name="adresse_postale_fournisseur" class="tooltip input-field" title="Renseigner l'adresse postale du fournisseur">
                                                </div>
						<div class="input-container">
                                                        <i class="fa fa-phone-alt fa-2x icon"></i>
                                                        <input type="phone" placeholder="Numéro de téléphone du fournisseur" name="numero_telephone_fournisseur" class="tooltip input-field" title="Renseigner le numéro de téléphone du fournisseur">
                                                </div>
						<div class="input-container">
                                                        <i class="fa fa-blog fa-2x icon"></i>
                                                        <input type="url" placeholder="Site web du fournisseur" name="site_web_fournisseur" class="tooltip input-field" title="Renseigner l'url du site web du fournisseur">
                                                </div>
                                        </fieldset>
                                </div>
				<div class="input-container">
                                        <input type="submit" value="Valider">
                                        <input type="reset" value="Réinitialiser" style="margin-left: 13px;">
                                </div>
			</fieldset>
		</form>
	</div>
</div>
