{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Fablab Orles Valley</title>

		<link rel="shortcut icon" type="image/x-icon" href="">
		<link rel="shortcut icon" type="image/ico" href="">

		<link rel="icon" href="{% static 'images/favicon.png'  %}" type="image/png" sizes="16x16">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-1.12.1.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  		<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>

		<link rel="stylesheet" media="screen and (max-device-width: 1536px)" href="{% static 'css/ovfabmanager_laptop.css' %}" type="text/css">
		<link rel="stylesheet" media="screen and (min-device-width: 1537px) and (max-device-width: 1572px)" href="{% static 'css/ovfabmanager_intermediate_min_1537_max_1572.css' %}" type="text/css">
		<link rel="stylesheet" media="screen and (min-device-width: 1573px) and (max-device-width: 1665px)" href="{% static 'css/ovfabmanager_intermediate_min_1573_max_1665.css' %}" type="text/css">
		<link rel="stylesheet" media="screen and (min-device-width: 1666px) and (max-device-width: 1758px)" href="{% static 'css/ovfabmanager_intermediate_min_1666_max_1758.css' %}" type="text/css">
		<link rel="stylesheet" media="screen and (min-device-width: 1759px) and (max-device-width: 1865px)" href="{% static 'css/ovfabmanager_intermediate_min_1759_max_1865.css' %}" type="text/css">
		<link rel="stylesheet" media="screen and (min-device-width: 1866px) and (max-device-width: 1920px)" href="{% static 'css/ovfabmanager_intermediate_min_1866_max_1920.css' %}" type="text/css">
		<link rel="stylesheet" media="screen and (min-device-width: 1920px)" href="{% static 'css/ovfabmanager_monitor.css' %}" type="text/css">

		<link rel="stylesheet" href="{% static 'css/jquery-ui-theme/jquery-ui-theme/jquery-ui.theme.min.css' %}" type="text/css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

		<!--[if lt IE 9]>
  			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  		<![endif]-->
	</head>
	<body>
		{% if not afficher_erreur or afficher_erreur and type_erreur != "500" %}
			{% include "ovfabmanager/shared/menus/navbar.html" %}
			{% include "ovfabmanager/shared/menus/connectbar.html" %}
		{% endif  %}

		<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
		<div id="main">

			<!-- If an error is detected -->
			{% if afficher_erreur %}
				{% if type_erreur == "500" %}
					{% include "ovfabmanager/errors/500.html" %}
				{% elif type_erreur == "410" %}
                                        {% include "ovfabmanager/errors/410.html" %}
				{% elif type_erreur == "408" %}
                                        {% include "ovfabmanager/errors/408.html" %}
				{% elif type_erreur == "404" %}
                                        {% include "ovfabmanager/errors/404.html" %}
				{% elif type_erreur == "403" %}
                                        {% include "ovfabmanager/errors/403.html" %}
				{% elif type_erreur == "401" %}
                                        {% include "ovfabmanager/errors/401.html" %}
				{% elif type_erreur == "400" %}
                                        {% include "ovfabmanager/errors/400.html" %}
                                {% endif %}
			{% else %}
				<!-- Common -->
				{% if template_demandee == "accueil" %}
					{% include "ovfabmanager/common/accueil.html" %}
				{% elif template_demandee == "calendrier" %}
					{% include "ovfabmanager/common/calendrier.html" %}
				{% elif template_demandee == "reserver_une_machine" %}
					{% include "ovfabmanager/common/reserver_une_machine.html" %}
				{% elif template_demandee == "reserver_un_espace" %}
					{% include "ovfabmanager/common/reserver_un_espace.html" %}
				{% elif template_demandee == "inscriptions_aux_formations" %}
					{% include "ovfabmanager/common/inscriptions_aux_formations.html" %}
				{% elif template_demandee == "inscriptions_aux_evenements" %}
					{% include "ovfabmanager/common/inscriptions_aux_evenements.html" %}
				{% elif template_demandee == "galerie_de_projets" %}
					{% include "ovfabmanager/common/galerie_de_projets.html" %}
				{% elif template_demandee == "common_tarifs_et_abonnements" %}
					{% include "ovfabmanager/common/tarifs_et_abonnements.html" %}

				<!-- Admin -->
				{% elif template_demandee == "gestion_des_paniers" %}
		                        {% include "ovfabmanager/admin/gestion_des_paniers.html" %}
		                {% elif template_demandee == "gestion_des_stocks" %}
		                        {% include "ovfabmanager/admin/gestion_des_stocks.html" %}
		                {% elif template_demandee == "gerer_le_calendrier" %}
		                        {% include "ovfabmanager/admin/gerer_le_calendrier.html" %}
		                {% elif template_demandee == "gerer_les_utilisateurs" %}
		                        {% include "ovfabmanager/admin/gerer_les_utilisateurs.html" %}
		                {% elif template_demandee == "gerer_les_machines" %}
		                        {% include "ovfabmanager/admin/gerer_les_machines.html" %}
		                {% elif template_demandee == "gerer_les_factures" %}
		                        {% include "ovfabmanager/admin/gerer_les_factures.html" %}
		                {% elif template_demandee == "admin_tarifs_et_abonnements" %}
		                        {% include "ovfabmanager/admin/admin_tarifs_et_abonnements.html" %}
		                {% elif template_demandee == "gerer_les_espaces" %}
		                        {% include "ovfabmanager/admin/gerer_les_espaces.html" %}
				{% elif template_demandee == "suivi_des_formations" %}
		                        {% include "ovfabmanager/admin/suivi_des_formations.html" %}
		                {% elif template_demandee == "gerer_les_evenements" %}
		                        {% include "ovfabmanager/admin/gerer_les_evenements.html" %}
		                {% elif template_demandee == "statistiques" %}
		                        {% include "ovfabmanager/admin/statistiques.html" %}
		                {% elif template_demandee == "personnalisation" %}
		                        {% include "ovfabmanager/admin/personnalisation.html" %}
				{% endif %}
			{% endif %}

		</div>

		{% include "ovfabmanager/shared/forms/connexion_form.html" %}
		{% include "ovfabmanager/shared/forms/inscription_form.html" %}
		{% include "ovfabmanager/shared/forms/client_carte_form.html" %}
		{% include "ovfabmanager/shared/forms/code_barre_article_form.html" %}
		{% include "ovfabmanager/shared/forms/configuration_carte_form.html" %}
		{% include "ovfabmanager/shared/forms/modification_carte_form.html" %}

		<script>
			var allSerializedArticles = "{{allSerializedArticles}}";
			allSerializedArticles = JSON.parse(allSerializedArticles.replace(/&quot;/g,'"'));

			var allSerializedClients = "{{allSerializedClients}}";
			allSerializedClients = JSON.parse(allSerializedClients.replace(/&quot;/g,'"'));

			var allSerializedCartes = "{{allSerializedCartes}}";
			allSerializedCartes = JSON.parse(allSerializedCartes.replace(/&quot;/g,'"'));

			var allSerializedPaniers = "{{allSerializedPaniers}}";
			allSerializedPaniers = JSON.parse(allSerializedPaniers.replace(/&quot;/g,'"'));
		</script>
		<script src="{% static 'js/ovfabmanager.js' %}"></script>
	</body>
</html>
