{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Fablab Orles Valley</title>

		<link rel="shortcut icon" type="image/x-icon" href="">
    		<link rel="shortcut icon" type="image/ico" href="">

		<script src="https://kit.fontawesome.com/dd784e1fb4.js" crossorigin="anonymous"></script>	
		<link rel="stylesheet" href="{% static 'css/ovfabmanager.css' %}">

		<!--[if lt IE 9]>
  			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  		<![endif]-->
	<head>
	<body>
		<h1 style="color: blue;">Star Trek vs Foundation : Spock vs Daneel Olivaw</h1>
		<div id="mySidenav" class="sidenav">
  			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div style="margin-left: 35px; margin-top: 20px; margin-bottom: 20px; color: #ffffff; text-decoration: underline;">Common</div>
  			<a href="#"><i class="fa fa-door-open"></i> Accueil</a>
  			<a href="#"><i class="fa fa-calendar"></i> Calendrier</a>
  			<a href="#"><i class="fa fa-cogs"></i> Réserver une machine</a>
  			<a href="#"><i class="fa fa-space-shuttle"></i> Réserver un espace</a>
			<a href="#"><i class="fa fa-university"></i> Inscriptions aux formations</a>
			<a href="#"><i class="fa fa-calendar-check"></i> Inscriptions aux évènements</a>
			<a href="#"><i class="fa fa-book"></i> Galerie de projets</a>
			<a href="#"><i class="fa fa-credit-card"></i> Tarifs et abonnements</a>
			<div style="margin-left: 35px; margin-top: 20px; margin-bottom: 20px; color: #ffffff; text-decoration: underline;">Admin</div>
			<a href="#"><i class="fa fa-shopping-basket"></i> Gestion des paniers</a>
			<a href="#"><i class="fa fa-barcode"></i> Gestion des stocks</a>
		</div>

		<!-- Use any element to open the sidenav -->
		<span onclick="openNav()">open</span>

		<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
		<div id="main">
			...
		</div>
		<script src="{% static 'js/ovfabmanager.js' %}"></script>
	</body>
</html>
