<div id="deuxieme_modal" title="S'inscrire..." hidden="true">
	<form method="post" action="{% url 'form_treatments' %}" id="inscription_form">
		{% csrf_token  %}
                <fieldset>
                        <legend>Inscrivez-vous</legend>
			<input id="form_type" name="form_type" type="hidden" value="inscription">
			<fieldset>
				<legend>Généralités</legend>
				<div id="inscription_error_div" class="ui-widget hidden_div" style="margin-bottom: 15px;">
                                        <div class="ui-state-error" style="padding: 0.7em; border-radius: 5px;">
                                                <p>
                                                        <span class="ui-icon ui-icon-alert icone-d-erreur"></span>
                                                        <span id="inside_inscription_error_div"></span>
                                                </p>
                                        </div>
                                </div>
				<div class="input-container">
					<i class="fa fa-user-tie fa-2x icon"></i>
                        		<input type="text" id="nom" name="nom" placeholder="Nom*" class="tooltip input-field required-field-inscription" title="Veuillez saisir votre nom de famille">
				</div>
				<div class="input-container">
					<i class="fa fa-user fa-2x icon"></i>
                        		<input type="text" id="prenom" name="prenom" placeholder="Prénom*" class="tooltip input-field required-field-inscription" title="Veuillez saisir votre prénom">
				</div>
				<div class="input-container">
					<i class="fa fa-id-card fa-2x icon"></i>
                        		<input type="text" id="iscidt" name="nom_d_utilisateur" placeholder="Nom d'utilisateur*" class="tooltip input-field required-field-inscription" title="Veuillez saisir votre nom d'utilisateur">
				</div>
				<div class="input-container">
					<i class="fa fa-envelope fa-2x icon"></i>
                        		<input type="email" id="adresse_email" name="adresse_email" placeholder="Adresse email*" class="tooltip input-field required-field-inscription" title="Veuillez saisir votre adresse email">
				</div>
				<div class="input-container">
					<i class="fa fa-phone fa-2x icon"></i>
                                	<input type="phone" id="telephone" name="telephone" class="tooltip input-field" placeholder="Numéro de téléphone" title="Veuillez saisir votre numéro de téléphone">
				</div>
				<div class="input-container">
					<i class="fa fa-key fa-2x icon"></i>
                        		<input type="password" id="mot_de_passe" name="mot_de_passe" placeholder="Mot de passe*" class="tooltip input-field required-field-inscription" title="Veuillez saisir votre mot de passe">
				</div>
				<div class="input-container">
					<i class="fa fa-key fa-2x icon"></i>
                        		<input type="password" id="resaisir_mot_de_passe" name="resaisir_mot_de_passe" placeholder="Ressaisie de votre mot de passe*" class="tooltip input-field required-field-inscription" title="Veuillez resaisir votre mot de passe">
				</div>
			</fieldset>
			<fieldset>
				<legend>Personnes morales</legend>
				<div class="div_d_element_au_pied">
					<input type="checkbox" id="personne_morale" name="personne_morale" class="tooltip" title="Veuillez cocher cette case si vous êtes une personne morale (entreprise, école...)"><label for="personne_morale" class="element_au_pied">Je suis une personne morale</label>
				</div>
				<div id="enregistrer_personne_morale" hidden>
					<div class="input-container">
						<i class="fa fa-building fa-2x icon"></i>
						<input type="text" id="personne_morale_nom" name="personne_morale_nom" placeholder="Nom de la structure*" class="tooltip input-field" title="Veuillez saisir le nom de votre structure">
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Compléments indispensables</legend>
				<br>
				<div class="input-container">
					<i class="fa fa-credit-card fa-2x icon"></i>
                                	<select id="abonnement" name="abonnement" class="tooltip input-field required-field-inscription" placeholder="Abonnement *" title="Veuillez saisir l'abonnement que vous voulez souscrire" required>
						<option value="">Sélectionnez votre abonnement</option>

						{% for abonnement in allAbonnements %}
						<option value="0">{{ abonnement.libelle }}</option>
						{% endfor %}

					</select>
				</div>
			</fieldset>
                </fieldset>
		<div class="input-container div_d_element_au_pied" style="margin-top: 20px;">
			<input type="checkbox" id="autorisation_communication" name="autorisation_communication" class="tooltip" title="Veuillez cocher cette case si vous acceptez des utilisateurs du fablab à vous contacter"><label for="autorisation_communication" class="element_au_pied">J'autorise les utilisateurs du fablab à me contacter</label>
		</div>
		<div class="input-container div_d_element_au_pied">
			<input type="checkbox" id="autorisation_informations_depuis_fablab" name="autorisation_informations_depuis_fablab" class="tooltip" title="Veuillez cocher cette case si vous acceptez de recevoir des informations concernant le fablab"><label for="autorisation_informations_depuis_fablab" class="element_au_pied">J'accepte de recevoir des informations concernant le fablab</label>
		</div>
		<div class="input-container div_d_element_au_pied">
			<input type="checkbox" id="acceptation_des_conditions" name="acceptation_des_conditions" class="tooltip required-field-inscription" title="Veuillez cocher cette case si vous acceptez les conditions d'utilisation"><label for="acceptation_des_conditions" class="<label for="acceptation_des_conditions" class="element_au_pied">J'accepte les conditions d'utilisation *</label>
		</div>
        </form>
</div>
