<header class="entete">
        <a href="javascript:void(0)" id="premier" class="tooltip" title="Accédez à votre menu client">
		<i class="fa fa-user-tie fa-3x connectbar_icon_element"></i>
		<p class="connectbar_text_div">Utilisateur</p>
	</a>
	<a href="javascript:void(0)" id="second" class="tooltip" title="Pas encore de compte ? Inscrivez-vous">
		<i class="fa fa-rocket fa-3x connectbar_icon_element"></i>
		<p class="connectbar_text_div">S'inscrire</p>
	</a>
	<a href="javascript:void(0)" id="troisieme" class="tooltip" title="Déjà un compte ? Connectez-vous">
		<i class="fa fa-sign-in fa-3x connectbar_icon_element"></i>
                <p class="connectbar_text_div">Se connecter</p>
	</a>
</header>
<div id="deuxieme_modal" title="S'inscrire..." hidden="true">
	<form>
                <fieldset>
                        <legend>Inscrivez-vous</legend>
			<fieldset>
				<legend>Généralités</legend>
				<div title="Sélectionnez votre genre">
					<p>Vous êtes *:
                                		<input type="radio" id="homme" name="genre" value="homme" class="tooltip" checked>
						<label for="homme">un homme</label>
                                		<input type="radio" id="femme" name="genre" value="femme" class="tooltip">
						<label for="femme">une femme</label>
					</p>
				</div><br>
				<label for="nom">Nom *:</label>
                        	<input type="text" id="nom" name="nom" class="tooltip" title="Veuillez saisir votre nom de famille" required><br><br>
                        	<label for="prenom">Prénom *:</label>
                        	<input type="text" id="prenom" name="prenom" class="tooltip" title="Veuillez saisir votre prénom" required><br><br>
				<label for="identifiant">Identifiant *:</label>
                        	<input type="text" id="identifiant" name="identifiant" class="tooltip" title="Veuillez saisir votre identifiant" required><br><br>
                        	<label for="adresse_email">Adresse email *:</label>
                        	<input type="email" id="adresse_email" name="adresse_email" class="tooltip" title="Veuillez saisir votre adresse email" required><br><br>
				<label for="mot_de_passe">Mot de passe *:</label>
                        	<input type="password" id="mot_de_passe" name="mot_de_passe" class="tooltip" title="Veuillez saisir votre mot de passe" required><br><br>
                        	<label for="resaisir_votre_mot_de_passe">Retapez votre mot de passe *:</label>
                        	<input type="password" id="resaisir_votre_mot_de_passe" name="resaisir_votre_mot_de_passe" class="tooltip" title="Veuillez resaisir votre mot de passe" required><br><br>
			</fieldset>
			<fieldset>
				<legend>Personnes morales</legend>
				<label for="personne_morale">Je suis une personne morale :</label>
                                <input type="checkbox" id="personne_morale" name="personne_morale" class="tooltip" title="Veuillez cocher cette case si vous êtes une personne morale (entreprise, école...)"><br><br>
			</fieldset>
			<fieldset>
				<legend>Compléments indispensables</legend>
				<label for="abonnement">Abonnement *:</label>
                                <select id="abonnement" name="abonnement" class="tooltip" title="Veuillez saisir l'abonnement que vous voulez souscrire" required>
					<option value="">Sélectionnez votre abonnement</option>
				</select><br><br>
                                <label for="naissance">Date de naissance *:</label>
                                <input type="text" id="naissance" name="naissance" class="tooltip" title="Veuillez saisir votre date de naissance" required><br><br>
                                <label for="telephone">Numéro de téléphone :</label>
                                <input type="phone" id="telephone" name="telephone" class="tooltip" title="Veuillez saisir votre numéro de téléphone"><br><br>
			</fieldset>
                </fieldset>
		<label for="autorisation_communication">J'autorise les utilisateurs du fablab à me contacter:</label>
		<input type="checkbox" id="autorisation_communication" name="autorisation_communication" class="tooltip" title="Veuillez cocher cette case si vous acceptez des utilisateurs du fablab à vous contacter"><br><br>
		<label for="autorisation_informations_depuis_fablab">J'accepte de recevoir des informations concernant le fablab :</label>
		<input type="checkbox" id="autorisation_informations_depuis_fablab" name="autorisation_informations_depuis_fablab" class="tooltip" title="Veuillez cocher cette case si vous acceptez de recevoir des informations concernant le fablab"><br><br>
		<label for="acceptation_des_conditions">J'accepte les conditions d'utilisation *:</label>
		<input type="checkbox" id="acceptation_des_conditions" name="acceptation_des_conditions" class="tooltip" title="Veuillez cocher cette case si vous acceptez les conditions d'utilisation" required><br><br>
        </form>
</div>
<div id="troisieme_modal" title="S'inscrire..." hidden="true">
	<form>
                <fieldset>
                        <legend>Connectez-vous</legend>
                        <label for="identifiant">Identifiant *:</label>
                        <input type="text" id="identifiant" name="identifiant" class="tooltip input-field" title="Veuillez saisir votre identifiant" required><br><br>
                        <label for="mot_de_passe">Mot de passe *:</label>
                        <input type="password" id="mot_de_passe" name="mot_de_passe" class="tooltip input-field" title="Veuillez saisir votre mot de passe" required><br><br>
                </fieldset>
        </form>
</div>
