<header class="entete">
        <a href="" id="premier" class="tooltip" title="Accédez à votre menu client">
		<i class="fa fa-user-tie fa-3x connectbar_icon_element"></i>
		<p class="connectbar_text_div">Utilisateur</p>
	</a>
	<a href="" id="second" class="tooltip" title="Pas encore de compte ? Inscrivez-vous">
		<i class="fa fa-rocket fa-3x connectbar_icon_element"></i>
		<p class="connectbar_text_div">S'inscrire</p>
	</a>
	<a href="" id="troisieme" class="tooltip" title="Déjà un compte ? Connectez-vous">
		<i class="fa fa-sign-in fa-3x connectbar_icon_element"></i>
                <p class="connectbar_text_div">Se connecter</p>
	</a>
</header>
