<div id="mySidenav" class="sidenav">
	<div class="common">Common</div>
	<a href="http://localhost:8000" class="tooltip" title="Retournez à l'accueil"><i class="fa fa-door-open"></i> Accueil</a>
	<a href="http://localhost:8000/calendrier" class="tooltip" title="Consultez le calendrier"><i class="fa fa-calendar"></i> Calendrier</a>
	<a href="http://localhost:8000/reserver_une_machine" class="tooltip" title="Réservez une machine"><i class="fa fa-cogs"></i> Réserver une machine</a>
	<a href="http://localhost:8000/reserver_un_espace" class="tooltip" title="Réservez un espace"><i class="fa fa-space-shuttle"></i> Réserver un espace</a>
	<a href="http://localhost:8000/inscriptions_aux_formations" class="tooltip" title="Inscrivez-vous à une ou plusieurs formations"><i class="fa fa-university"></i> Inscriptions aux formations</a>
	<a href="http://localhost:8000/inscriptions_aux_evenements" class="tooltip" title="Inscrivez-vous à une ou plusieurs évènements"><i class="fa fa-calendar-check"></i> Inscriptions aux évènements</a>
	<a href="http://localhost:8000/galerie_de_projets" class="tooltip" title="Découvrez tous les projets publiés et documentés"><i class="fa fa-book"></i> Galerie de projets</a>
	<a href="http://localhost:8000/common_tarifs_et_abonnements" class="tooltip" title="Découvrez tous nos tarifs et abonnements"><i class="fa fa-credit-card"></i> Tarifs et abonnements</a>
	<div class="admin">Admin</div>
	<a href="http://localhost:8000/gestion_des_paniers"><i class="fa fa-shopping-basket"></i> Gestion des paniers</a>
	<a href="http://localhost:8000/gestion_des_stocks"><i class="fa fa-barcode"></i> Gestion des stocks</a>
	<a href="http://localhost:8000/gerer_le_calendrier"><i class="fa fa-calendar"></i> Gérer le calendrier</a>
	<a href="http://localhost:8000/gerer_les_utilisateurs"><i class="fa fa-users"></i> Gérer les utilisateurs</a>
	<a href="http://localhost:8000/gerer_les_machines"><i class="fa fa-cogs"></i> Gérer les machines</a>
	<a href="http://localhost:8000/gerer_les_factures"><i class="fa fa-file-invoice"></i> Gérer les factures</a>
	<a href="http://localhost:8000/admin_tarifs_et_abonnements"><i class="fa fa-money-bill-wave"></i> Tarifs & Abonnements</a>
	<a href="http://localhost:8000/gerer_les_espaces"><i class="fa fa-space-shuttle"></i> Gérer les espace</a>
	<a href="http://localhost:8000/suivi_des_formations"><i class="fa fa-university"></i> Suivi des formations</a>
	<a href="http://localhost:8000/gerer_les_evenements"><i class="fa fa-calendar-check"></i> Gérer les évènements</a>
	<a href="http://localhost:8000/statistiques"><i class="fa fa-chart-pie"></i> Statistiques</a>
	<a href="http://localhost:8000/personnalisation" class="last_href"><i class="fa fa-user-cog"></i> Personnalisation</a>
</div>
