#premier {
  float: left;
  width: 35%;
}

#second {
  float: right;
  width: 32%;
}

#troisieme {
  float: right;
  width: 33%;
}

.connectbar_text_div {
  float: left; 
  margin-left: 15px; 
  width: 60%;
}

.connectbar_icon_element {
  margin-left: 3px;
  float: left;
  text-align: center;
}

.fonctionnalite {
  transform: translateY(110%);
}
.entete {
  background-color: #608da1;
  color: #f8009b;
  top: 0;
  margin-left: 347px;
  position: fixed;
  min-width: 100%;
  z-index: 100;
}

.error_title {
  color: #c5007b;
  text-align: center;
}

.section_title {
  color: #608da1;
  text-align: center;
}

.last_href {
  margin-bottom: 40px;
}

.admin {
  margin-left: 35px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  color: #ffffff; 
  text-decoration: underline;
}

.common {
  margin-left: 35px; 
  margin-bottom: 20px; 
  color: #ffffff; 
  text-decoration: underline;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 355px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #c5007b; /* Primary color*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 35px; /* Place content 35px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffffff;
  background-color: #f8009b;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: padding-left .5s;
  padding: 0px;
  padding-left: 347px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .entete {padding-right: 15px;}
  .entete p {font-size: 18px;}
} 
